<div>
  <input [(ngModel)]="newName" placeholder="Name"> |
  <input [(ngModel)]="newPrice" type="number" placeholder="Price"> |
  <input [(ngModel)]="newInventory" type="number" placeholder="Inventory"> |
  <button class="btn btn-primary" (click)="save()">Save</button>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{(product.inventory === 0 ? "Backorder" : product.inventory)}}</td>
      </tr>
    </tbody>
  </table>
</div>